[2015-06-10 18:21] pwnmagic opened #3 "Exception when running kafka-influxdb"
**Issue**
* Writes to influxdb fail. I find no information when I query influxdb.
* Running into exceptions when using kafka-influxdb (see log excerpts below).

**Log Excerpt**
    Exception caught while flushing: write_points_with_precision() takes at most 3 arguments (5 given)
    Flush 17. Buffer size 1000. Parsed 17000 kafka mes. into 17000 datapoints. Speed: 10077 kafka mes./sec
    Exception

[2015-06-10 20:52] pwnmagic commented on #3
This issue is because of the data format that was set (json) for collectd write_kafka plugin.

[2015-06-11 07:16] mre commented on #3
Thanks for the detailed report. I will try to reproduce the issue when I find the time. Could you tell me which version of InfluxDB you're running and the version of your influxdb python client?

[2015-06-15 06:35] pwnmagic commented on #3
InfluxDB: 0.8.8-1 on CentOS 6.6
Python: 2.7

I think handling collectd json format would help resolve this issue. I can work on it when I get some free time.

[2015-06-15 07:51] mre commented on #3
Thanks @pwnmagic. Yes you're right. I was thinking about a general solution to handle all json formats. But I think right now supporting the collectd-kafka plugin would be nice.

[2015-07-10 16:20] mre commented on #3
@pwnmagic I've released a big update today which supports InfluxDB 0.9.1. Maybe you have the time to test this and report back. I would really appreciate your input. :-)

[2015-07-10 22:13] pwnmagic commented on #3
Sweett!! I was planning to work on this next weekend ;)

I'll get back to you once I test it out.

-Tarun

On Fri, Jul 10, 2015 at 9:20 AM, Matthias Endler <notifications@github.com>
wrote:

[2015-09-10 14:11] mre commented on #3
@pwnmagic any update on this? Otherwise I would close the issue.

[2015-09-10 18:53] pwnmagic commented on #3
Sorry @mre, haven't gotten a chance to test this out. Won't be able to work on this in the next few weeks as well. Closing this for now.

[2015-09-10 18:53] #3 closed

[2015-09-14 10:51] aglagla opened #5 "No messages read from kafka"
Kafka jar : kafka_2.11-0.8.2.1.jar
Python mods :
kafka-influxdb==0.5.0
kafka-python==0.9.4
config.yaml :
[code]

On a simple local configuration, kafka broker is on localhost:9092, influxdb and collectd running as well.
Collectd is sending messages to kafka (checked with kafka-console-consumer.sh)
Influxdb accepting requests.
However, when starting kafka_influxdb as follows (foreground mode)
kafka

[2015-09-14 11:12] mre commented on #5
Thanks for reporting. I will have a look as soon as I find the time. Will keep you updated on the process.
For a start, could you reduce the buffer_size in the config to 1 and see if you get any output?

[2015-09-14 12:17] aglagla commented on #5
No changes with the buffer size to 1
I straced the process as well, with just the connect call :
[code]

[2015-09-29 17:19] panda87 commented on #5
I have the same problem after I ran the setup.py file.
@mre Do you have any idea on that?

[2015-10-01 08:44] mre commented on #5
@panda87 no idea yet. Did it work before for you or was it never working?
Also did you try to run it with Docker?

@aglagla what happens when you try to read on a topic that does not exist? Will kafka-influxdb complain?

[2015-10-04 07:09] panda87 commented on #5
@mre Its the first time I tried to implement this project so I don't have too much experience on that.
No, didn't try to run it with Docker since the docker-compose contains another services which already installed on my system.
However, I'll try to run it with Docker

[2015-10-04 07:32] panda87 commented on #5
@mre the Docker stuck on
Starting to consume messages
No message consumed

[2015-10-07 14:08] mre commented on #5
@panda87 @aglagla could you guys try again now? I think I found the bug:

In the beginning I had a simple `handle_read()` method. It would just read messages from Kafka and yield the values to the caller. So far so good.

After some time I discovered a bug where kafka-influxdb was not reconnecting after Kafka crashed. So I added retry handling for that case. The handler was a simple wrapper functi

[2015-10-07 14:43] aglagla commented on #5
Many thanks for your feedback and sorry for not being more responsive.
Traveling at the moment but will definitely be testing the new release in
the coming weeks.

Cheers,

Alexis

On Wed, Oct 7, 2015 at 4:08 PM, Matthias Endler <notifications@github.com>
wrote:

[2015-10-07 17:39] mre commented on #5
Thanks @aglagla. I appreciate any feedback :smiley:

[2015-10-08 06:20] panda87 commented on #5
Thanks @mre I'll check this now and let you know.

[2015-10-08 07:15] panda87 commented on #5
@mre I cloned the updated project and just build the Dockerfile.
During the build it's complained about many issues.
Im coping part of them

[code]

Maybe another packages should be updated?

[2015-10-13 13:22] mre commented on #5
You are right @panda87. Thanks for the hint.
I hadn't updated the setup.py script with the new required packages.

This is fixed now. I'm loading them dynamically from the requirements.txt file. This avoids duplicate code and much confusion. Would you mind doing another test run?
Thanks for your patience btw.

[2015-10-13 17:36] panda87 commented on #5
Thanks @mre I see a progress, im still getting the same errors but the images eventually built.
Now I'm getting this:
Waiting for Kafka connection at kafka:9092. This may take a while...
Waiting for InfluxDB connection at influxdb:8086. This may take a while...
Starting to consume messages
Reading config file config_example.yaml
Traceback (most recent call last):
  File "/usr/local/bin/kafka_influ

[2015-10-13 18:54] mre commented on #5
Yeah, so the errors are actually C compiler warnings from a dependency, namely PyYAML 3.11. So there's not much we could do here, except maybe fixing that in upstream or switching to another library. For now it's fine I guess.

The CollectD JSON format is currently not implement, but if you send me a couple of sample messages, I can have a look and maybe write an encoder for it. Maybe we can handl

[2015-10-14 08:12] panda87 opened #6 "JSON encoder for CollectD events"
Hi @mre

Please find the below several JSON examples of CollectD events.
If you have estimation\direction when\whether you build this encoder, please share, this will be very helpful feature.

[code]

Thanks
D.

[2015-10-14 09:03] panda87 commented on #5
I created new issue for the JSON encoder.

1. I want the ability to be able consume from the cluster if the specific server I out will be down, so this will try the first hostname, and if it will get timeout, this will go the next hostname and so on.
2. The ability to read from a several topics (from the same config file) and route the to the appropriate InfluxDB db's sounds a good feature, curren

[2015-10-14 09:05] panda87 opened #7 "Add SSL params"
Please add the following paras to the implementation and to the config file:
ssl (bool) – use https instead of http to connect to InfluxDB, defaults to False
verify_ssl (bool) – verify SSL certificates for HTTPS requests, defaults to False

Thanks a lot!
D.

[2015-10-16 09:55] mre commented on #7
Just pushed the necessary changes.
https://github.com/mre/kafka-influxdb/commit/f0b52b5556ca0e69b361d6515a79fae8f30d82e8
It would be great if you could check it out and report back.

[2015-10-16 12:02] panda87 commented on #7
Thanks! i'll check it

[2015-10-17 09:05] mre commented on #5
1. Sounds like a great idea. I'll open an issue for that.
2. Yeah, I guess for now we should go with separate consumers per topic. Tools like Logstash do that as well.
3. Thanks for that. For reference: #7

[2015-10-18 17:15] aglagla commented on #5
Hi @mre

Finally got some time to test and, after pulling the new release and
installing it (thanks for the setup.py update), ran my test with the same
config.yaml as before in debug mode with a small set of collectd metrics
and everything works perfectly. Checked influxdb and as expected all
metrics are there.

Thanks again for your responsiveness, much appreciated.

Alexis

On Wed, Oct 7, 2015 a

[2015-10-18 18:50] mre commented on #5
Nice! Thanks for your feedback. Closing.

[2015-10-18 18:50] #5 closed

[2015-10-20 14:20] nhproject opened #8 "Boolean Properties Changed To Strings"
<img width="190" alt="screen shot 2015-10-20 at 17 02 11" src="https://cloud.githubusercontent.com/assets/15214994/10609695/888bc12e-774d-11e5-9e10-62912a543dfd.png">

Hi,

When I'm trying to run kafka-influxdb without config.yaml file and use variables, I have a problem with passing boolean variables.
I'm working with SSL, so I want to pass: --influxdb_use_ssl=True, but then I see in the log that

[2015-10-20 15:47] mre commented on #8
Thanks for the report. Will have a look as soon as possible.

[2015-10-20 19:43] DefunctExodus commented on #6
This would be really nice to have.

[2015-10-20 21:09] borick opened #9 "Values encoded as Strings into Influxdb 0.9x"
on my setup using centos 6, the Graphite encoder is encoding all values as "strings" into influxdb

I have temporarily edit collectd_graphite_encoder.py as a workaround, comment out the lines which add the "":

        def escape_value(self, value):
            value = self.escape_measurement(value)
            # if isinstance(value, text_type):
            #    return "\"{}\"".format(value.replac

[2015-10-21 08:39] panda87 commented on #7
Looks good @mre
Im closing the issue

[2015-10-21 08:39] #7 closed

[2015-10-22 09:50] mre opened #10 "Support reading from multiple partitions"
Kafka-Python has multiprocess support. We should use it for message consumption.

[2015-10-22 09:52] mre opened #11 "Flush buffer if not full but some time has gone by (safety net for low frequency input)"
Kafka-Python comes with a message consumer that allows this.

[2015-10-22 10:13] aglagla commented on #10
@mre this would be awesome.
In particular, I'm interested in a configurable way to consume from
different topics and write to different influxdb databases. That would be a
tuple list in the yaml.

Regards,

Alexis

On Thu, Oct 22, 2015 at 11:50 AM, Matthias Endler <notifications@github.com>
wrote:

[2015-10-22 10:22] mre commented on #10
@aglagla actually I only want to add support to read from multiple partitions for the same Kafka topic. This should improve performance quite a bit.

Nevertheless you can start more than one instance of kafka-influxdb to read from different Kafka topics and write to separate InfluxDB instances. This keeps the setup simple and it also helps to maintain a good overview of your current Kafka topics.

[2015-10-22 11:12] nhproject commented on #10
Hi,

Related to this issue - I'm experiencing big performance issues.

I'm using this flow:
CollectD --> Kafka --> InfluxDB --> Grafana
When I'm reaching 100 events per second, InfluxDB starts to consume the events in delay.
This delay is accumulated, so after a while the delay is severe (can reach hours of delay!)

Is there any estimation for this issue to be resolved?

Thanks,

Nitz

[2015-10-22 11:46] mre commented on #10
@nhproject, thanks for the report. 100 events per second isn't a lot of traffic. I've benchmarked it with more than 10.000 messages/s - all from my local machine. So something is really fishy here. Can you run the kafka-influxdb benchmark in verbose mode? E.g.

    kafka_influxdb -c your_configfile.yml -b -v

Also maybe you could post your configfile so we can have a look.
Do you think this issue

[2015-10-26 11:34] mre commented on #9
Should be fixed with 4d4b62f
If you want to test it you can clone from master.

Thanks @borick

[2015-10-26 22:44] rashshah opened #12 "collectd_graphite_encoder reads only one measurement"
collectd_graphite_encoder,  when there are multiple measurements in kafka message,  it adds only one measurement in influxdb.   Seems like problem in for loop.  Is it known issue?

[2015-10-27 09:29] mre commented on #12
@rashshah thanks for the report. I will have a look asap.

[2015-10-27 13:02] mre commented on #8
Should be fixed in master now.

[2015-10-27 13:15] mre commented on #12
@rashshah could you give me an example message that is not working for you? This would make debugging a lot easier for me ;-)

[2015-10-27 14:00] mre commented on #12
I think I found the bug. Please check in master.

[2015-10-27 14:21] mre opened #15 "Support Python 3.x"
Currently kafka-influxdb only supports Python 2.7.
We should also support Python 3.x using six.

[2015-10-27 19:12] rashshah commented on #12
Changes looks good and works ok. One suggestion, in exception instead of "Error in encoder", say "empty line". Every message from kafka has the empty line in end, and this message will become annoying. Alternatively add check : "if line "

Pls release next version.

Regards,

rashmikant

From: Matthias Endler <notifications@github.com<mailto:notifications@github.com>>
Reply-To: mre/kafka-influxdb

[2015-10-30 09:03] mre commented on #12
New version 0.7.2 is out now. :-)

[2015-10-30 09:03] #12 closed

[2015-10-30 09:22] #9 closed

[2015-10-30 09:22] #8 closed

[2015-10-30 09:23] mre commented on #11
As suggested by @IngaFeick

[2015-11-02 10:08] mre commented on #10
Actually multiple-partition handling is already part of kafka-python as well as pykafka so nothing to do here :smiley:

[2015-11-02 10:08] #10 closed

[2015-11-02 11:04] mre commented on #15
Resolved by #17

[2015-11-02 11:04] #15 closed

[2015-11-02 16:32] IngaFeick commented on #11
+ 4711

[2015-11-02 16:39] mre commented on #11
This is already handled by kafka-python, so nothing to do anymore.

[2015-11-02 16:39] #11 closed

[2015-11-05 01:03] rashshah commented on #12
Thanks.

What is kafka-influxdb tightly coupled with requests=2.8.0?   I have some other python packages,  which uses 2.8.1,  then kafka-influxdb throws error.

Traceback (most recent call last):
  File "/usr/local/bin/kafka_influxdb", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 3057, in <module>

[2015-11-05 10:03] mre commented on #12
@rashshah you're right. That shouldn't be the case. What I will do is follow the guideline on http://stackoverflow.com/a/7085000/270334. Will create a ticket for that. Thanks for the hint.

[2015-11-05 10:06] mre opened #19 "Remove fixed module version requirements from setup.py"
In #12 it was discussed that kafka-influxdb currently requires fixed versions of all modules it requires. This should not be the case. We should split up the requirements handling into two parts:

1. A requirements.txt file with fixed versions that are known to work with kafka-influxdb
2. A general list of required modules without fixed versions in setup.py

Reference: http://stackoverflow.com/a/7

[2015-11-05 14:26] mre opened #20 "Add statsd metrics to kafka-influxdb"
It would be nice to integrate some statsd metrics into kafka-influxdb.
For a start, graphs for message throughput and encoding errors would be nice.
We should do that in a non-invasive way. Maybe by using decorators around the methods in question.

Packages that could be used:
- https://github.com/Cue/scales
- https://github.com/omergertel/pyformance

[2015-11-05 16:13] mre commented on #19
Merged to master.

[2015-11-05 16:13] #19 closed

[2015-11-05 16:13] mre commented on #12
@rashshah this should be fixed in master now. Would be glad for any feedback.

[2015-11-05 16:21] mre commented on #6
@panda87 I've integrated an initial version into master.
Used your example messages as unit tests. See https://github.com/mre/kafka-influxdb/blob/master/kafka_influxdb/tests/encoder_test/test_collectd_json_encoder.py

The encoder uses ultrajson on Python 2 and Python 3.
This gives a nice performance boost over the standard json module.
For PyPy we fall back to the standard json module because ultr

[2015-11-05 16:23] mre opened #21 "Add version flag"
It's useful to know which version of kafka-influxdb is currently running. We should add an option to show the current version, e.g. `kafka_influxdb --version`.

[2015-11-05 16:27] mre opened #22 "Run kafka-influxdb as daemon by default"
As of now, daemonizing kafka-influxdb is tricky. It can be done with `kafka_influxdb &`
We should also add a `-d` flag that puts the program into the background.

[2015-11-05 16:29] mre opened #23 "Add option to write to logfile"
All output is written to `stdout` currently. There should be a way to specify a logfile in the config and on commandline.

[2015-11-10 23:52] mre commented on #6
@panda87, @DefunctExodus could one of you guys test it to see if it works as expected? :-)

[2015-11-11 00:01] DefunctExodus commented on #6
Was just talking about this today, will give it a shot on Thursday when I
am back in the office.
On Nov 10, 2015 5:52 PM, "Matthias Endler" <notifications@github.com> wrote:

[2015-11-11 00:09] mre commented on #6
@DefunctExodus awesome. Thanks! :v:

[2015-11-11 00:13] #21 closed

[2015-11-11 00:17] mre commented on #22
Come to think of it, a saner alternative would be to run in the background by default. So this will be the standard behavior from v0.9.0 onwards. I'll make sure to add a -f option to run it in the foreground, though.

[2015-11-17 13:31] skarlsson opened #27 "cannot query the ingested data"
I'm trying to configure collectd->kafka->kafka-influxdb->influxdb->grafana

collectd is correctly configured to report to graphite but I wish to use kafka/influxdb instead.

I publish to kafka, pick that up in kafka-influxdb and something shows up in influxdb but I cannot figure out what is wrong since I cannot even query the data. (on the other hand I new to influxdb...)

this is (some of) what t

[2015-11-17 14:37] mre commented on #27
Try this:
[code]

[2015-11-17 14:45] aglagla commented on #27
Hello,

You might want to enclose measurement/series names within double quotes.

Regards,

Alexis

On Tue, Nov 17, 2015 at 2:31 PM, svante karlsson <notifications@github.com>
wrote:

[2015-11-17 15:28] skarlsson commented on #27
Thanks, that's better but
select * from "internal_machines_thermal-cooling_device9_gauge"
returns empty

and everything else I try to query is empty.

/svante

2015-11-17 15:45 GMT+01:00 Alexis <notifications@github.com>:

[2015-11-17 15:44] mre commented on #27
Can you run `kafka-influxdb` in verbose mode? Use the `-v` flag on the command line. Maybe InfluxDB returns an error message.

[2015-11-17 15:45] mre commented on #27
Also, are you using the latest version from master?

[2015-11-17 16:05] skarlsson commented on #27
I installed using ansible pip so I guess it's equivalent to running
python-pip from command line.

[root@f022-720-influxdb ~]# pip freeze | grep kafka
kafka-influxdb==0.7.2
kafka-python==0.9.4

Reading config file /etc/opt/kafka-influxdb.config
INFO:root:Connecting to Kafka broker at
f013-520-kafka.internal.machines:9092
INFO:root:Connecting to InfluxDB at localhost:8086
INFO:root:Connecting to In

[2015-11-17 16:49] mre commented on #27
Hm... the log doesn't say anything about an error. I will try to replicate this behavior as soon as possible.

[2015-11-17 17:10] skarlsson commented on #27
I'm running influxdb 0.9.5

2015-11-17 17:49 GMT+01:00 Matthias Endler <notifications@github.com>:

[2015-11-24 17:30] DefunctExodus commented on #6
@mre

Sorry ended up getting backlogged at work, Looking at this right now and most of our counters are RX / TX values so for example
[code]

[2016-01-16 17:53] mre commented on #22
I'm planning to use https://pypi.python.org/pypi/python-daemon/ for this

[2016-01-16 17:54] mre commented on #27
This might fix the problem: https://github.com/mre/kafka-influxdb/pull/29.
Didn't test it yet but it looks promising.
Maybe you want to have a look as well.

[2016-01-16 17:56] mre commented on #6
This pull request supports multiple values: https://github.com/mre/kafka-influxdb/pull/29
Haven't tried it though. If you want to have a look, that would be a great help.

[2016-01-16 18:24] DefunctExodus commented on #6
Sure, I will let you know next week. Have about 80gigs of multivalue data
to parse

Thanks
On Jan 16, 2016 11:56 AM, "Matthias Endler" <notifications@github.com>
wrote:

[2016-01-18 19:07] DefunctExodus commented on #6
So I am going through this and a collectd event such as this
[code]

returns in an influxdb record such as this

[code]

I am not sure if that is the expected result or not honestly, with the values combined into a single row

[2016-01-18 21:44] mre commented on #6
Okay, thanks for testing. Could you show me how you queried the data? I want to try it myself as well.

[2016-01-18 21:48] DefunctExodus commented on #6
Was a simple select * on the series

Okay, thanks for testing. Could you show me how you queried the data? I
want to try it myself as well.

—
Reply to this email directly or view it on GitHub
<https://github.com/mre/kafka-influxdb/issues/6#issuecomment-172662269>.

[2016-01-31 13:35] mre commented on #22
After taking a closer look at python-daemon there were some things missing that I'd like to have.
Recently I've used [daemonocle](https://github.com/jnrbsn/daemonocle) and it worked like a charm while having a lot of handy features like checking the status of a running daemon. So I'm gonna use that instead.

[2016-03-18 13:58] mpergament opened #30 "Cannot find encoder"
root@c358466be7e1:/home/kafka-influxdb# /usr/local/bin/kafka_influxdb -c config.yaml
Reading config file config.yaml
Traceback (most recent call last):
  File "/usr/local/bin/kafka_influxdb", line 9, in <module>
    load_entry_point('kafka-influxdb==0.7.2', 'console_scripts', 'kafka_influxdb')()
  File "/usr/local/lib/python2.7/dist-packages/kafka_influxdb/kafka_influxdb.py", line 102, in main

[2016-04-22 11:06] bluebob opened #31 "[Question] PyPy compatibility?"
Anyone know if kafka-influxdb is compatible with PyPy?
I was doing a load test the other day and was seeing 30-35% cpu use (single cpu VM), so I'm thinking that if PyPy was supported then that might give me some "better" performance under heavy load.

[2016-04-22 11:57] mre commented on #31
Yes it should work with PyPy. We mention it quickly here: https://github.com/mre/kafka-influxdb#benchmark. It should be 3-5 times as fast. Please report back. :wink:

That said, there's some issues we might need to resolve(#30, #29). Maybe you could also have a look and see if you can help?

[2016-05-21 03:01] ship1999 commented on #30
may be you replace  "kafka_influxdb.encoder.collectd_json_encoder" to "collectd_json_encoder" of config.yaml, and try again.

[2016-05-29 13:09] meetpradeepp opened #32 "pip install kafka_influxdb on CentOS7 failed"
I tried installing kafka-influxdb using pip it failed. But when I ran the same thing by downloading the code and using python setup.py install it worked.

[root@centos-agent ~]# pip install kafka_influxdb
Collecting kafka_influxdb
  Downloading kafka_influxdb-0.7.2.tar.gz
Collecting certifi==2015.9.6.2 (from kafka_influxdb)
  Downloading certifi-2015.9.6.2-py2.py3-none-any.whl (371kB)
    100% |██

[2016-05-29 14:03] mre commented on #32
Hi @meetpradeepp. Thanks for your feedback.
you could try the idea from #30. Please report back if it works for you.

[2016-05-30 10:52] meetpradeepp commented on #32
Hello @mre. Thank for your quick response. Yes changing the encoder name in config.yaml from "kafka_influxdb.encoder.collectd_graphite_encoder" to "collectd_graphite_encoder" works.

I reconfirmed that if you install python setup.py install the encoder with "kafka_influxdb.encoder.collectd_graphite_encoder" name works. Looks like this happens because kafka_influxdb/encoder/collectd_graphite_encode

[2016-05-30 11:35] mre commented on #32
Thanks for your feedback @meetpradeepp. :-) Closing.

[2016-05-30 11:35] #32 closed

[2016-05-30 11:38] mre commented on #30
@mpergament, the idea from @ship1999 seems to be working (see #32).
You could try and maybe give some feedback if you find the time.
Will close this for now. Please feel free to reopen if the problem is not fixed by this.

@mpergament thanks for opening the issue :+1:
@ship1999 thanks for providing a possible fix. Highly appreciate that. :cocktail:

[2016-05-30 11:38] #30 closed

[2016-06-01 12:00] meetpradeepp opened #33 "Unmatched data kills the process"
Hello @mre, Thank you for brilliant code. I was able to get it for testing with no efforts.

I wanted to know your thoughts on input not matching to encoder settings. Should it die like it does now or possibly just print something?

[2016-06-01 12:53] mre commented on #33
It should never die :smile:
Could you attach some example input, the kafka-influxdb settings and the terminal output when it dies?
This would make testing so much easier.
If you do so, please make sure to anonymize the data if needed.

[2016-06-01 15:40] meetpradeepp commented on #33
I agree :). Here is the output I sent which broke collectd encoder. I removed [] around values.
-- KAFKA INPUT --
[{"values":0,"dstypes":["derive"],"dsnames":["value"],"time":1436372292.412,"interval":10.000,"host":"26f2fc918f50","plugin":"cpu","plugin_instance":"1","type":"cpu","type_instance":"interrupt"}]

--- OUTPUT -----
Reading config file kafka_influxdb_conf.yaml
Flushing output buffer. 0.0

[2016-06-01 16:09] mre commented on #33
So, quick guess:
It looks like `values` in your input should be a list.
Like so:

[code]

I guess this format is invalid, so you might want to fix the input.
Apart from that, it should still not crash. :smiley:

Could you try to edit `/usr/lib/python2.7/site-packages/kafka_influxdb-0.7.2-py2.7.egg/kafka_influxdb/encoder/collectd_json_encoder.py` like so?

[code]

We could have checked that value i

[2016-06-01 16:47] meetpradeepp commented on #33
I know its invalid but crashing is what got me to this discussion. Try catch placement seems right to me. I will give it a try and let you know. Thank you for the active support @mre.

[2016-06-01 18:36] meetpradeepp commented on #33
It worked. Another observation on side lines is that the data buffer count do gets increased even when we don't process this bad event and that should be fine.

[2016-06-01 20:20] mre commented on #33
Very sharp observation @meetpradeepp :+1:
I guess it's okay for now that the buffer count is increased, yes.
Thanks for your feedback.

[2016-06-01 20:20] #33 closed

[2016-06-14 07:23] mre opened #34 "Test new versions of Kafka libraries"
https://github.com/confluentinc/confluent-kafka-python
https://pypi.python.org/pypi/kafka-python
https://github.com/Parsely/pykafka

Found in this nice blog post: http://blog.parsely.com/post/3886/pykafka-now/

[2016-06-16 11:47] mre commented on #34
Another benchmark. The confluent kafka client is in front: http://activisiongamescience.github.io/2016/06/15/Kafka-Client-Benchmarking/

[2016-08-05 10:32] aglagla commented on #34
I was just going to report an issue with kafka 0.10 and influxdb 0.13.
Also, I am using confluent python client as a producer and I am pretty much impressed by the performance, there fore considering using it in the writer/reader kafka_influxdb implementation.
My issue with kafka 0.10 is that I cannot consume a very simple batch of 10 messages, each containing a well-formatted Line Protocol text w

[2016-08-06 19:07] aglagla opened #35 "Unexpected behaviour with influxdb 0.13"
To reproduce, set up an influxdb 0.13 server and run kafka_influxdb in benchmark mode.
kafka-influxdb output:

[code]

Influxdb log excerpt:

[code]

kafka-simple-consumer:

[code]

Note: upgraded the python influxdb client (3.0.0), same issue.

Greetings,

Alexis

[2016-08-06 21:12] mre commented on #35
Thanks for the thorough issue description. I'm gonna have a look whenever I find some time. Due to being busy with other projects I'm not sure when that will be, so help is definitely wanted.
If anybody would like to have a go at this and create a pull request, I'd be more than happy to review it.

[2016-08-11 12:59] cpmarvin opened #36 "Support for json format"
Hello,

Would be nice to have an encoder to support json and be able to choose what keys are tags or values and the time field.

so for example in below json  :

[code]

we can choose interface_id, interface_name as tags and bytes as values resulting
example_measuarment,interface_id=6939,interface_name="eth0" bytes= 13780000 1470920344.173186

[2016-08-11 13:05] mre commented on #31
Closing this. Feel free to reopen for further questions.

[2016-08-11 13:05] #31 closed

[2016-08-11 13:07] mre commented on #22
In case anybody wants to tackle this, have a look at the way https://github.com/trivago/protector does it.

[2016-08-11 13:10] mre commented on #27
Others have reportet that #29 fixes similar problems.
@skarlsson in case it still does not work with the newest version, please reopen this ticket.

[2016-08-11 13:10] #27 closed

[2016-08-11 13:20] mre commented on #36
Hi @cpmarvin,
please take a look at https://github.com/mre/kafka-influxdb/tree/master/kafka_influxdb/encoder.
There's a little description on how to write your own encoder.
You could start with the json encoder and modify it to your needs.

I'm still thinking about a smarter approach to do this. We could add the tag names into the config, but I don't know if this covers all use-cases...

[2016-08-11 13:43] cpmarvin commented on #36
hi @mre

Thx for that.
Yes the ideea was to have a generic one and have config flags for tags, value and time fields to match against the json.

[2016-08-11 13:47] mre commented on #36
So the only thing to do would be adding an optional `tags` field in the config and pass it to the encoder?
Maybe we could also make it a bit more generic and have an `encoder_params` section in the config that gets passed to the encoder?

[2016-08-11 13:53] cpmarvin commented on #36
i would say , 3 files . one with tags ( multiple values ) one for value and of for timestamp ( if not defined use current time ) , using  encoder_params.

[2016-08-11 14:25] mre commented on #36
Yeah, sounds reasonable. I like your idea.
Not sure when I will come around to implement it, though. So feel free to grab this task if you like. I can support you if you like. :smiley:

[2016-08-11 15:22] aglagla commented on #35
Hi @mre ,

I've forked your repo in order to experiment with the confluent python api (and librdkafka).
adding an "api" parameter and fixing the issue with the writer.

As this is experimental, have not submitted a pull request, since there are several issues to check still.

For instance, I need to perform more tests with the consumer group offset in different scenarios for failover. I can only s

[2016-08-12 08:52] mre commented on #35
I've had a look and I really like what I see. There's a lot of nice improvements.
Maybe the ConfluentKafkaReader could be moved to a separate file and the read method (https://github.com/aglagla/kafka-influxdb/blob/master/kafka_influxdb/reader/kafka_reader.py#L41) might need some refactoring to make it a bit more testable.
Apart from that I'd merge it as soon as you finished your tests. :+1:

[2016-08-22 06:39] aglagla commented on #35
Hi @mre ,

Sorry for the delay. Yes. I agree on the refactoring/testing, should be straightforward.

Greetings,

Alexis

[2016-08-24 09:39] cpmarvin opened #37 "multiple consumer support"
hi @mre

Wondering if this supports multiple processes. I'm not able to use kafka-influx with 2 processes using 2 configs.
i have the same topic in kafka that i'm trying to consume and send data to two databases in influxdb.

/usr/local/bin/kafka_influxdb -c /etc/kafka-influxdb/config_example.yaml < !! this works
 /usr/local/bin/kafka_influxdb -c /etc/kafka-influxdb/lab.yaml < !! this doesn’t  wor

[2016-08-24 10:43] cpmarvin commented on #37
hi @mre

Sorry , my mistake was using buffer_size: 10000. Chaning this to 100 and adding auto_offset_reset ='earliest' to reader results in flush() getting called.

Will be nice to have the offset_reset as an option in the config.

Thx,
Catalin

[2016-08-24 10:43] #37 closed

[2016-09-08 09:11] aglagla commented on #35
Hi @mre
I've split the code as suggested.
While checking your unit tests, I'm surprised to see mocking at both sides of the tests.
Hence I've just added the original Confluent's Consumer unit test code.

Regards,

Alexis

[2016-09-18 10:21] mre commented on #35
Cool! Thanks for that @aglagla.
You did a great job in contributing to this project so far. I hope you keep it up.
You now have full commit rights to this repo now, so you can merge your changes whenever you like. :smiley:

[2016-09-29 10:00] kaffeiflex commented on #35
Hi aglagla,

Would you please provide your sample data?

Is this "26f2fc918f50.load.load.shortterm 0.05 1436357630" the final data format when writing to influxdb? If so, the error message has described the reason: there is no fields. It should be "26f2fc918f50.load.load.shortterm value=0.05 1436357630".

Also, character "." is not supporting for measurement name when you do querying.

[2016-09-29 15:29] Trace810 opened #38 "Integrating kafka influxdb with my own collector and kafka environment"
I have my own collector that sends data to Kafka on an environment and I want to integrate Kafka-InfluxDB with it. I just want to verify the usage of Kafka-InfluxDB.
I have created the config_example.yaml file and set the parameters there to point to my Kafka environment. Although, I am not sure what I should put in the encoder field.
In order to consume the data from Kafka and push it into Influx

[2016-09-29 15:37] mre commented on #38
Hi @Trace810,

the Docker setup is used for the integration tests.
Of course you can also run kafka-influxdb directly as you said. :smiley:

[2016-09-29 15:39] Trace810 commented on #38
Alright, thanks for verifying that! :)

[2016-09-29 15:39] #38 closed

[2016-09-29 20:13] Trace810 opened #39 "Warnings and Errors on running kafka-influxdb"
Hi there. I am new to Kafka and I'm trying to use kafka-influxdb to store data coming in from my kafka environment. This is my config-example.yaml file

kafka:
  host: "kafka_environment.net"
  port: 9092
  topic: "topicname"
  group: "kafka-influxdb"
influxdb:
  host: "influxdb"
  port: 8086
  user: "root"
  password: "root"
  dbname: "mydb"
  use_ssl: false
  verify_ssl: False
  timeout: 5
  use

[2016-10-14 12:54] mre commented on #39
Hi @Trace810. Sorry for the late reply. The error probably points to using an old version of kafka-influxdb. In the [version on pypi](https://pypi.python.org/pypi/kafka_influxdb/0.7.2) (currently 0.7.2), the json encoder was not implemented. This is done on master but not released.
What you could do is cloning the project from github directly and trying again.
I hope to release 0.8 soon, though -

[2016-10-14 14:26] mre commented on #39
Had some more time and pushed a new version (0.7.3) to pypi.
So if you are still interested in getting this running, please try it.
Same installation as before:

[code]

Cheers. :cocktail:

[2016-10-14 15:47] Trace810 commented on #39
@mre Thanks a lot! :)

[2016-10-14 15:47] #39 closed

[2016-10-18 09:18] mre commented on #36
Giving this some more thought, I'm not sure what we will do with the collectd graphite encoder.
It does not have a key-value structure like collectd-json.

Metrics look like this:
[code]

I would love to have one `encoder_params` section in the config that is compatible with all encoders, but I can't find a good way to make it work. Open for suggestions.

[2016-10-18 21:30] mre commented on #6
Although this issue is quite old by now, the bug should be fixed in master and in version 0.7.3.
Thanks to @kaffeiflex for working on this.
The new version can be installed with `pip install kafka_influxdb` or by cloning the master repo.

You can give it another shot, but I could also understand if you already found a workaround or another solution.

[2016-10-20 09:36] p3r7 opened #40 "Support raw InfluxDB line protocol as an input format"
If replacing collectd with telegraf, we can directly have data in InfluxDB line protocol format.
See: [telegraf output formats](https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_OUTPUT.md#influx)

It could be quite nice to have an encoder for this use-case, or even kafka-influxdb to have a "transparent mode", with the mashalling disabled.

[2016-10-20 11:05] mre commented on #40
Oh wow, that's a good idea. :smiley:
One thing that comes to mind is using the echo encoder for that. Did you try using that?

[2016-10-20 13:30] p3r7 commented on #40
I've just tried that, while running kafka-influxdb in -vvv mode.

The highwater_offset seems to get updated and by reading the logs I guess messages get consumed (see [this gist](https://gist.github.com/p3r7/a866c6b6d5266f23f8226935ae41aa7d)).

But I don't see the data in InfluxDB, and no error logs get generated by the later.
I'm using InfluxDB version 1.0.2, with the standard config (error logs

[2016-10-20 21:07] mre commented on #40
So, yeah it looks like it's reading messages from Kafka (offset is increasing in your output).
There's two things you need to check for InfluxDB, though:
1. Can you actually `ping influxdb`? Your log output indicates that the [host cannot be resolved](https://gist.github.com/p3r7/a866c6b6d5266f23f8226935ae41aa7d#file-gistfile1-txt-L11).
2. After checking (and maybe changing) the hostname of Influx

[2016-10-21 14:27] p3r7 commented on #40
OK, thanks a lot, I got it to work :)

1. Indeed, I didn't change the hostname.
Shouldn't hostname resolution error raise an error ?

2. This did the trick.

I also had to change the retention_policy to "autogen" (new name for the default retention_policy, instead of "default").

It would be nice to advertise the fact that raw InfluxDB line protocol is supported as a feature on the README :)
A con

[2016-10-21 20:14] mre commented on #40
About No.1: You're right. That should raise an error.
Changed the default retention policy with b23979dfb9d81510c536ac76c82ab470c31c0ac5.
Also updated the `README` to mention telegraf support.

[2016-10-24 09:36] #40 closed

[2016-10-25 21:03] #6 closed

[2016-11-22 13:26] mre commented on #34
Did some preliminary benchmarks for the two most promising candidates, pykafka and confluent-kafka-python.
Tested both together with librdkafka support on a high-performance topic with 10 partitions.
Here's the results:
confluent-kafka-python: around 300.000msg/s
pykafka+rdkafka: around 100.000 msg/s

My only issue with confluent-kafka-python is that it doesn't support Zookeeper, so Kafka 0.8.x su

[2016-11-29 13:40] mre commented on #34
@aglagla I've pushed a big update to master today. It contains the confluent-kafka consumer. Would be great if you could give it a try. It should be much more performant, robust and flexible. :smiley:

[2016-11-29 13:43] mre commented on #35
Pushed some changes to master. Tested against InfluxDB 1.0 and your test data should work now.
Please test again.

[2016-11-30 16:29] mre commented on #36
@kbr rewrote the graphite encoder with tag support. See feature/encoder_rewrite_v2.
I'll do the same for the json encoder now. Will push my changes to the same branch and ping you again once this is ready. Stay tuned.

[2016-12-01 18:42] edenhill commented on #34
Just thought I'd commen on this:

The client (librdkafka) will automatically switch to the new partition leader on failover, the application wont have to do anything (and might not even notice), so your assign() proposal will work good.

This might be somewhat off-topic, but looking at your performance test charts (which are great!) I see the huge difference between optimized `-O` runs and non-opt

[2016-12-02 12:57] mre commented on #34
Hey @edenhill. Thanks for commenting. Huge fan of your work!
We use librdkafka heavily at trivago. We pump all our monitoring and logging data through it and we're very happy with the performance and reliability.

Glad to hear that the manual assignment will work on failover as well. :smiley:
One thing I couldn't find out is how to get the number of partitions from a topic with confluent-kafka-pyt

[2017-04-27 02:02] druhin-arrcus opened #47 "Installation Error"
I get the following error when trying to install with pip:

[code]

[2017-04-27 11:20] mre commented on #47
Whoops. Sorry. Please try again. 😀

[2017-04-27 21:33] danielnelson opened #48 "Add comparison with Telegraf to README"
As it is possible to use Telegraf with its `kafka_consumer` input to transfer from Kafka to InfluxDB, it would be helpful if Telegraf was added to the comparison section with information about how it compares in terms of performance, feature set, and durability to this project.

I'm the current maintainer of https://github.com/influxdata/telegraf so I'm happy to help with any questions about Teleg

[2017-04-27 21:56] mre commented on #48
Hi @danielnelson! Thanks for your feedback. Huge fan of telegraf.
Yes, that would for sure be a nice addition. Can you provide some performance data? Preferably I'd love to have a telegraf folder in [here](https://github.com/mre/kafka-influxdb/tree/master/docker). I don't have too much time anymore, so it's tricky from my side to add it to the project. But I would happily accept a pull request for

[2017-04-27 21:59] mre commented on #35
There has not been any feedback regarding this issue, so I assume it is resolved or no longer relevant. Please reopen if necessary.

[2017-04-27 21:59] #35 closed

[2017-04-27 22:00] #34 closed

[2017-04-27 22:07] danielnelson commented on #48
Yeah, I'll add it in when I get some free time.

[2017-05-29 09:38] mre commented on #47
Should be resolved now. If not, please reopen.

[2017-05-29 09:38] #47 closed

[2017-06-19 13:01] amoussoubaruch opened #50 "Performance for write to influxDB with kafka connector"
Hi,

I started use kafka connector to write streaming data to influxDB. So i dispose one single node influxdb and when connector start all message start write to influxdb. And any queries i execute crash because i have more data.

In kafka connector, is exit a paramater to configure for limit number of message comming from kafka so number of insert to my database.

Thanks for advanced

[2017-06-19 17:03] mre commented on #50
Hi @amoussoubaruch,

no there  is no parameter to limit the number of messages. I'm sorry but that's a bit outside of the scope of the project.

Some ideas:
* Can you limit the number of incoming messages from Kafka?
* How many messages do you send per second and what is the size of each message?
* What hardware are you using for InfluxDB? Maybe you can add more RAM or a faster CPU.

Also try to l

[2017-06-19 17:05] mre commented on #48
Hey @danielnelson. I assume you're quite busy but I just wanted to follow up on this ticket so that we don't forget. Any updates on the benchmark?

[2017-06-19 17:53] danielnelson commented on #48
Sorry, I have only done a little work so far on this but I'd really like to get this going.  I will try to have an update by next week.

[2017-06-23 00:48] danielnelson commented on #48
I worked on this today but ran into some issues with the kafka_consumer plugin in Telegraf 1.3 since it still uses the older zookeeper managed offsets.  I was able to get it running with the development branch of Telegraf though, so I think I will wait for version 1.4 to be released before opening a PR, this way I can just use our official docker container.

I did run into quite a few warnings whe

[2017-06-23 07:49] mre commented on #48
That sounds great! Thanks for that 😃
Yeah the NaN values are expected. There are quite some invalid metrics in `messages_graphite.txt`. That's on purpose because I wanted to test a more real-world scenario.
The benchmarks from the graph are from a local test setup. There's some more info [here](https://github.com/mre/kafka-influxdb/issues/34#issuecomment-264448606).

[2017-07-07 03:13] bennco1 opened #51 "ERROR:root:Error while creating InfluxDB datbase: database already exists"
Hello - I'm a huge fan of kafka-influxdb. I believe is solves a major issue when dealing with volumes of metrics traffic. Thank you!

I did notice one issue after deploying though, if I creat the influxdb database prior to sending the metrics I received the following error "ERROR:root:Error while creating InfluxDB datbase: database already exists".

I'm able to avoid the error by having the DB cre

[2017-07-07 17:56] mre commented on #51
Oh wow. Don't know how I could miss that. Sorry. 😦
After #52 is merged it should be fine.

[2017-07-07 18:17] mre commented on #51
Should be fixed now. Can you give it another try?
If you installed with pip, run this:

[code]

If you cloned from git you can pull it from the master.

[code]

Cheers. 🍸

[2017-07-07 18:43] #50 closed

[2017-07-07 22:09] bennco1 commented on #51
Thanks for the update no sorry needed, I appreciate the work. I did an upgrade and now I am getting the following error...

raceback (most recent call last):
  File "/usr/local/bin/kafka_influxdb", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 3037, in <module>
    @_call_aside
  File "/usr/local/l

[2017-07-07 22:12] mre commented on #51
Hm... that looks strange. What commands did you use?

[2017-07-07 22:48] bennco1 commented on #51
I did pip install --upgrade kafka_influxdb - once completed I ran the following kafka_influxdb --help then go the errors above then I tried running the configuration with kafka_influxdb -c kafka-influxdb.yml same errors.

[2017-07-07 22:56] bennco1 commented on #51
disregard the above - found my error - the new code working like a charm!!!! Thanks man. Now is it possible to reduce the amount of load pushed to influx? I'm currently using the following parameter within my yml file buffer_size: 500 but I'm not sure if it's being evoked.

[2017-07-07 22:57] bennco1 commented on #51
also while I saw this message via stdou, Im not sure if it's due to recent change but haven't seen it before.

WARNING:root:Cannot write data points: {"error":"error fetching meta data: no leader detected during fetchMetaData"}

[2017-07-08 10:21] mre commented on #51
Okay, so we've made some progress.
As for throttling messages, there was a similar request before (#50). You could add a comment to that. Maybe we can reopen this ticket if you like.

About the warning message: that's okay as along as you don't get that regularly. It might happen that there was a Kafka leader election while trying to receive data. Usually such things even out after some time.

[2017-07-09 22:02] bennco1 commented on #51
Thanks man definitely will do.

[2017-07-09 22:02] #51 closed

[2017-07-09 22:36] bennco1 opened #53 "Throttling Messages - kafka_influxdb connector > Influxdb"
Hello,

I know it was previously mentioned that throttling messages is outside the scope of this project in #50 but I really think it's closely related. Kafka as a whole is utilized heavily to reduce / buffer load due to high traffic volume. I believe adding those parameters to the kafka_influxdb connector only completes the process.

<Current Scenario>
Telegraf (love this tool) > Kafka > Kafka_in

[2017-07-10 05:30] bennco1 opened #54 "HTTP/1.1 204 Error When kafka_influxdb connector posting to Influxdb"
When I run kafka_influxdb connector for a period of time I notice http 204 errors on the influxdb side and no additional content is posted to the DB since the time of starting kafka_influxdb connector.

HTTP/1.1" 204 0 "-" "python-requests/2.18.1"

[2017-07-10 07:33] mre commented on #54
[204 means success](https://httpstatuses.com/204). The difference to 200 is that 204 indicated that there's no response value.
Is there any other log output?

[2017-07-10 19:42] bennco1 commented on #54
I noticed the following errors

%3|1499715376.313|FAIL|rdkafka#consumer-1| kafka-7.localhost.com:9092/7: Receive failed: Disconnected
%3|1499715376.313|ERROR|rdkafka#consumer-1| kafka-7.localhost.com:9092/7: Receive failed: Disconnected
%3|1499715376.321|FAIL|rdkafka#consumer-1| kafka-1.localhost.com:9092/1: Receive failed: Disconnected
%3|1499715376.321|ERROR|rdkafka#consumer-1| kafka-1.localhost

[2017-07-10 20:28] mre commented on #54
Hm... looks like you're... disconnected? Can you check the connection to kafka? E.g.
```telnet kafka-7.localhost.com 9092```

[2017-07-15 04:52] bennco1 commented on #54
Apology for the delay definitely wasn't disconnected but I noticed for any extensive period of time running the connector it stops sending valid data to influx.

root@kafka-1:~# service kafka-server status
kafka-server (pid 1390) is running...   ...done.

root@kafka-1:~# service zookeeper-server status
zookeeper-server is running

root@kafka-1:~# telnet localhost 9092
Trying 127.0.0.1...
Connected

[2017-08-09 20:28] rpk113 opened #55 "installation issue"
installing via easy_install wont look at my local packages set via PYTHONPATH.  It keeps trying to download the package which is not allowed from the server I am using..

easy_install-2.7 --prefix='/data/mktlocal/log/LIBRARY' kafka_influxdb-0.9.3
Processing kafka_influxdb-0.9.3
Writing /data/mktlocal/log/PACKAGES/kafka_influxdb-0.9.3/setup.cfg
Running setup.py -q bdist_egg --dist-dir /data/mktloca

[2017-08-09 21:47] mre commented on #55
Sorry, don't think I can be of much help here. Personally I don't use easy_install.
Does it work if you copy ujson into `/data/mktlocal/log/LIBRARY/lib/python2.7/site-packages/`?
[code]

[2017-08-09 21:52] mre commented on #55
Oh, one more thing I just found in [the documentation](http://peak.telecommunity.com/DevCenter/EasyInstall#installing-on-un-networked-machines):

Just copy the eggs or source packages you need to a directory on the target machine, then use the -f or --find-links option to specify that directory's location. For example:

[code]

will attempt to install SomePackage using only eggs and source package

[2017-08-10 10:20] mre commented on #53
Hi. Sorry for the late response. By now you've probably found a way to do it.

Anyways, the `buffer_size` parameter controls how many messages will be consumed from Kafka before they get flushed to InfluxDB. It's not for rate limiting, but for maximizing Network I/O: If the `buffer_size` is too small, the network overhead (TCP handshake, latency) is the dominating factor and data transfer will be

[2017-08-16 20:06] rpk113 commented on #55
@mre
Thanks for the tips, I ended up moving over to pip.  just easier..  but now I get this..
Processing /PACKAGES/kafka_influxdb-0.9.3
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-OIqNqZ-build/setup.py", line 77, in <module>
        zip_safe=False)
      File "/python/core/2.7.13-b

[2017-08-16 22:04] mre commented on #55
Just guessing here.
* [Check if you have a module named parser in your python path](https://stackoverflow.com/questions/18577975/python-attributeerror-dep-map#comment27337903_18578329) (or a `parser.pyc` file, maybe)
* [Create a new virtualenv](https://github.com/mher/flower/issues/192#issuecomment-37752836) and try again.
* [This](http://urfoex.blogspot.de/2015/12/pythonipdb.html) might also help

[2017-08-17 14:19] rpk113 commented on #55
I get access denied to the first link..

https://bitbucket.org/pypa/setuptools/issues/48/attributeerror-_dep_map

can you see it?

[2017-08-17 14:39] mre commented on #55
Nope, the bitbucket project is private. But the blog post itself might provide some hints.
Quote from the article:

Found a comment that said:

    Ah, that means the real AttributeError is happening inside of the @property; the AttributeError being raised is after the fallback. Unfortunately, due to the way Python's attribute handling works, if there's an attribute error raised by a property gett

[2017-08-17 14:39] mre commented on #55
Sorry, don't know much more than that. Maybe somebody else has an idea...

[2017-12-21 10:51] Armagedoom opened #57 "Can this project loose data?"
After viewing the code, I don't see whether the project is protecting the user from data loss or not.
Specifically, If the reader reads a message from a Kafka topic, and cant deliver to InfluxDB because it is down, in the (rare) event that the process dies, we will loose that information too.
Right?

Thank you very much for this project!

[2017-12-21 11:18] mre commented on #57
Yes.

[Here's the write loop](https://github.com/mre/kafka-influxdb/blob/master/kafka_influxdb/worker.py#L88-L96). As you can see, the buffer is cleared whether we can write or not.
The reasoning behind this is, that metrics are ephermeral in kafka-influxdb and that Kafka acts as a buffer for metrics.

I see multipe options to change the behaviour:
1. We could add a config option to avoid clearing

[2017-12-21 14:56] Armagedoom commented on #57
Thank you  @mre.

Yes, we are considering to use this module for the solution we are developing, and if we end up using it, you can count on the pull requests.

Also, the plan is to use it as ground to create a Kafka-Elasticsearch consumer too.

But what I don't understand yet is, even if we develop solution 1 and 2, we still wouldn't be safe against an eventual process shutdown, would we?

Specif

[2017-12-21 15:11] mre commented on #57
That's correct. If the process gets shut-down, the metrics in the buffer get lost.
One could manually commit the offset and have a handler flush the remaining metrics on shutdown to avoid this. On the other side, this would move some of the offset logic from the server (Kafka) to the client (kafka-influxdb).
It's a tradeoff between code complexity and robustness.

Is the data you're trying to pipe

[2017-12-21 15:16] Armagedoom commented on #57
I'm going to work a bit more on it and keep you posted.
Looks like just by setting the consumer `enable.auto.commit` to False and doing commits ourselves whenever we flush, we would have this module granting the delivery.

[2017-12-21 15:18] Armagedoom commented on #57
(I answered again while you had already answered, my bad).
Yes, the data is critical, we shouldn't loose metrics.

[2017-12-21 15:46] mre commented on #57
Guaranteed delivery is a hard problem. `kafka-influxdb` is currently optimized for raw performance and "realtime capabilities". Your help is much appreciated in improving its robustness, but just to be 100% transparent here, let me mention some competing projects:
* [gollum](https://github.com/trivago/gollum) is trivago's log consumer, which handles some of our more business-critical data.
* [tele

[2018-01-03 13:48] Armagedoom commented on #57
Big thanks for the clarity and your suggestions, ended up using logstash because it was very straightforward to integrate with Elasticsearch too, plus there are ways to grant exactly once delivery.
Thanks again!

[2018-01-03 13:48] #57 closed

[2018-03-22 16:37] mimmus opened #58 "DEBUG:root:None?"
I started an InfluxDB using Docker as described at:
https://hub.docker.com/_/influxdb/
but I'm unable to load anything from a Kafka topic "connect-test".
This is the verbose output:

[code]
Database is created but then I have only "DEBUG:root:None" message endlessly.
I tried also to reset offsets of my Kafka topic but no results.
Any help?

[2018-03-22 17:12] mre commented on #58
Hello @mimmus,

it says "reached end at offset ...", so maybe you can try sending a new message to the `connect-test` topic?

[2018-03-23 09:26] mimmus commented on #58
I'm in a development cycle: can I reset offset and restart from scratch?

[2018-03-23 10:02] mre commented on #58
That's not supported right now. It's hardcoded as you can [see here](https://github.com/mre/kafka-influxdb/blob/16c1df42fb05d994722a0a0f273a9c957c725115/kafka_influxdb/reader/confluent.py#L37). That said, I could try to refactor that to make it configurable. Give me a few minutes and I'll see what I can do.

[2018-03-23 10:25] mre commented on #58
@mimmus can you have a look at the changes linked above?

[2018-03-23 10:28] mre commented on #58
If you want to try it locally, you would have to do something like the following (warning: writing this from the top of my head):

[code]

[2018-03-23 12:31] mimmus commented on #58
Trying just now...

[2018-03-23 12:42] mimmus commented on #58
It works, thank you very much.
I'm not a Kafka guru but loading a bunch of data in InflusxDB using your tool was really simple.

[2018-03-23 14:49] #58 closed

[2018-03-23 22:02] mre commented on #55
Closing this due to inactivity. Feel free to re-open in case of new findings.

[2018-03-23 22:02] #55 closed

[2018-03-23 22:04] mre commented on #54
Sorry, no idea what was going on. 🤷‍♂️
Closing this due to inactivity. Feel free to re-open in case of new findings.

[2018-03-23 22:04] #54 closed

[2018-03-23 22:05] mre commented on #53
Closing this due to inactivity. Feel free to re-open in case of new findings.

[2018-03-23 22:05] #53 closed

[2018-04-18 09:07] cyber035 opened #60 "Telegraf and echo encoder"
Hi,
I'm trying to use kafka-influxdb with echo encoder since I have Telegraf on producer side with output set to InfluxDB line protocol, so I would like just to pass the messages from Kafka to InfluxDB.

But I'm getting this error:

WARNING:root:Cannot write data points: 400: {"error":"unable to parse 'swap,ncgroup=client01,host=test01.local total=1719660544i,used=0i,used_percent=0 152404146000000

[2018-04-18 09:28] mre commented on #60
Hum... I tried it on my machine, and you're right...
Here's what I did.

[code]

So that's strange.

I was using InfluxDB 1.5.2 for the test. Which version are you using?
Also, does it work if you insert the data manually into InfluxDB for a test?

[2018-04-18 15:46] cyber035 commented on #60
I'm using v 1.5.1 and inserting manually works just fine...

[2018-04-18 15:53] mre commented on #60
That's strange. The error message is coming directly from InfluxDB (HTTP response code 400), so it's not happy about the input data sent to the API endpoint.

Can you try setting the time precision in your `config.yml` like so?

[code]

[2018-04-18 15:56] mre commented on #60
Sorry, I meant nanoseconds precision:

[code]

[2018-06-20 10:51] mrafeeq opened #62 "there isnt a docker image for this project"
Can you create a stable public docker image for this project please. there isn't one, that seems to be maintained at this moment .

This is not an bug/issue but a request to create and publish a docker image

[2018-06-20 11:42] mre commented on #62
Sure. I've updated the `README.md` and added a simple Docker image.
Please check it out and tell me if I missed anything. 😃

[2018-06-20 11:42] #62 closed

[2018-06-21 10:16] mrafeeq commented on #62
Why not push the image to docker hub also the docker has dependency on kafka and influx, in commercial projects,  these images may be  run in different containers why is there a dependency , how to run without the dependency

[2018-06-21 10:17] mrafeeq commented on #62
I havce one more question messages that are published to a kafka topic are in json format, are there any message transformers available so that we an transform it into a format that influx expects

[2018-06-21 10:24] mrafeeq opened #63 "typo in README"
There is a typo error in the README under the installation section,

[code]
the file name is config_example.yaml , note the filename has **_**  , readme uses **-**

[2018-06-21 10:59] mre commented on #62
But... it IS on Dockerhub: https://hub.docker.com/r/mre0/kafka-influxdb/ Or maybe I don't get your question? 😅
Also, what do you mean by "dependency to Kafka and InfluxDB"? It uses the Python modules to communicate with those (after all, the project is called kafka-influxdb :wink:), but Kafka and InfluxDB themselves are not part of the Docker image.

You can write a custom encoder to support any i

[2018-06-21 11:01] #63 closed

[2018-06-21 11:03] mre commented on #63
Thanks. Fixed. :+1:
You can also open a pull request next time if you like. That would be easier for me. :wink

[2018-06-21 12:39] mrafeeq commented on #62
I am passing a message like `somemeasure,somekey=somevalue fromState=Responding,toState=Available`

to the topic  i get the error

[2018-06-21 13:27] mre commented on #60
Closing due to inactivity. Feel free to reopen if needed.

[2018-06-21 13:27] #60 closed

[2018-06-22 11:57] mrafeeq opened #64 "Installation issue"
[code]

Then i tried
`pip3 install -r requirements.txt` . i got the error below
....
.....
[code]

[2018-06-22 12:42] mre commented on #64
Can you try a `git pull origin master` before the `make RUNTIME=py3`?
I removed the dependency on `futures` from the `requirements.txt` two days ago.

[2018-06-22 12:50] mrafeeq opened #65 "how to mount an external config file and a custom encoder"
I have written a custom encoder to convert a json to influxdb format,

when i use the official image https://hub.docker.com/r/mre0/kafka-influxdb/

how to mount an external encoder and a config file as we need to different parameters to the config based on the environment (test/productin)

[2018-06-22 13:18] mrafeeq commented on #64
Yes this solved the issue,i was able to build the image , however when i try to run the container i get the below error.  my kafka and influx containers are running separately as different containers

➜  kafka-influxdb git:(master) docker run mre0/kafka-influxdb
^CTraceback (most recent call last):
  File "/usr/local/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spe

[2018-06-22 14:05] mre commented on #65
Good point! I didn't think of that. 😆
For a local checkout of the repository, that's easy because you can simply copy the new encoder to the correct folder (kafka_influxdb/encoder) and [use it in the config](https://github.com/mre/kafka-influxdb/blob/master/config_example.yaml#L21).

For Docker, the story is a bit different. Here's how you could do it:

[code]

where `myencoder` is the name of you

[2018-06-22 14:12] mre commented on #64
Wait, there's a `KeyboardInterrupt`, which means you stopped the process, right?
It might just be working as expected?
Try with
```docker run mre0/kafka-influxdb --verbose```

Also check that your InfluxDB is reachable.

[2018-06-22 14:53] mrafeeq opened #66 "error while trying to write data in to influxdb"
I get this error while trying to write to influx( i am using a custom encoder which produces an array of influx db expressions.

[code]

[2018-06-22 18:52] mre commented on #65
So did this work? @mrafeeq feedback would always be appreciated. 😉

[2018-06-22 19:01] mre commented on #66
You get a 404 (file not found), which indicates that InfluxDB is not reachable.
Looking at the logs, it seems like it's trying to connect to `http://127.0.0.1:8001` to reach InfluxDB.
I'm pretty sure InfluxDB isn't running there.

Maybe on your local machine, but as far as I can say from #64, you run InfluxDB on a separate container. You have to be able to reach InfluxDB from within the kafka-infl

[2018-06-22 19:40] mrafeeq opened #67 "need path argument for influxdb to conne t"
In most cases to connect to influxdb mere host pot name isnt enough , as there is this path in url to reach the infludb instance  please introduce this path argument , and it can be optional

 a sample influx url is

`curl -G "http://<ipaddress>:<port>/api/v1/proxy/somefolder/anotherfolder/services/influxdb:influxdb/query?pretty=true" --data-urlencode "q=show databases"`

[2018-06-22 19:42] mrafeeq commented on #66
if the custome encoder that i have written if it returns an array of multiple infludb insert expressions, is that the right way ? to do like below

[code]

[2018-06-22 19:47] mre commented on #66
Looks good to me, yes.

[2018-06-22 19:49] mre commented on #67
I guess I don't have time for implementing this right now, as I work on other projects but I will label it accordingly. Feel free to work on this if you like. 😊

[2018-06-25 11:10] #66 closed

[2018-06-25 11:11] #64 closed

[2018-06-25 11:32] mre commented on #65
👍 Thanks for the feedback.

[2018-06-25 11:32] #65 closed

[2018-07-11 15:14] teone opened #68 "Official image on docker hub"
Is there an official image on dockerhub for this tool?

[2018-07-11 15:33] mre commented on #68
Hi @teone,
does the image mentioned in the docs work for you?
https://github.com/mre/kafka-influxdb#docker

[2018-07-11 16:03] teone commented on #68
Oh sorry,
I missed it.

Is there a recommended way to load a custom encoder in that image or is it better to rebuild it from code?

[2018-07-11 21:07] mre commented on #68
That came up recently: https://github.com/mre/kafka-influxdb/issues/65
If it works, could you create a pull request to add this information to the readme? 😊

[2018-07-11 21:07] mre commented on #68
You know, the boyscout rule. 😉

[2018-07-11 23:31] teone commented on #68
There you go! https://github.com/mre/kafka-influxdb/pull/69
I also added a simple example to create a custom image that wraps the custom encoder (that's the solution I found) as I think it may be more manageable across different environments (KB8s, Swarm, docker-compose) or if you want to share that same image with teammates.

By the way thanks for the tool!

[2018-07-12 07:59] mre commented on #68
Thanks! Closed via #69.

[2018-07-12 07:59] #68 closed

[2018-07-26 09:52] ShawnTheCoder opened #70 "Database created successfully, but with no measurements or content."
Hi,

I'm trying to build up a CollectD-Kafka-InfluxDB-Grafana setup.
With collectd-5.8.0, kafka-2.11-1.1.0, influxdb-1.6.0, and grafana-5.2.2-1, and today's master branch of kafka-influxdb on a CentOS 7.

I have successfully installed this kafka-influxdb with "pip install kafka_influxdb", and config file modified as below:

---
kafka:
  host: "localhost"
  port: 9092
  topic: "collectd"
  group: "

[2018-07-26 11:39] mre commented on #70
Looks like you're using the wrong encoder.
The `collectd_graphite_encoder` is for graphite metrics while the `collectd_json_encoder` is for collectd's JSON format, which is likely what you want. 😉

[2018-07-26 13:22] ShawnTheCoder commented on #70
Yes, now it works.
Thanks! Nice project!

[2018-07-26 13:22] #70 closed

[2018-07-26 13:32] mre commented on #70
👍

[2018-07-31 03:05] ShawnTheCoder opened #71 "Installation with pip3"
Hi,

I installed kafka-influxdb within my own VMs with python2 successfully. But then, when I try to install in another environment, I directly downloaded the master branch, unzip, and try to run "pip3 install kafka-influxdb", it tells:

`[root@dhcp-10-173-66-167 kafka-influxdb-master]# pip3 install kafka_influxdb
Collecting kafka_influxdb
  Could not find a version that satisfies the requirement

[2018-07-31 06:36] mre commented on #71
Try the full path to the archive, e.g.:

[code]

[2018-07-31 14:11] mre commented on #71
did it work?

[2018-08-01 04:46] ShawnTheCoder commented on #71
Do you mean like this? Seems like I've moved a step forward and with a problem with certifi install...
Sorry I'm not quite familiar with pip, and thanks again :-)
`[root@dhcp-10-173-66-167 kafka-influxdb-master]# pip3 install /usr/share/kafka-influxdb-master/`
`Processing /usr/share/kafka-influxdb-master`
`Collecting certifi (from kafka-influxdb==0.9.3)`
`  Could not find a version that satisfies

[2018-08-01 05:00] ShawnTheCoder commented on #71
I'm trying to download first and install certifi 2018.1.18 from PyPI to my environment, just bear me some time.

[2018-08-01 06:38] mre commented on #71
Yup, I can see some progress. 🤠
Looks like you're doing the installation on this server entirely offline, so all packages have to be available from your local machine.

On a machine with internet:

[code]

This will create a folder that you can zip and copy to the server.
There, you should be able to unzip it and install again:

[code]

I haven't tested that, though but it should roughly be what y

[2018-08-07 08:55] ShawnTheCoder commented on #71
Hi,

We've figured out the pip problem with network proxy. Now I'm able to use pip install kafka_influxdb.
Yeah!

Thanks for your help.

[2018-08-07 08:55] #71 closed

[2018-10-23 11:53] brunowego opened #73 "Kerberos Support"
This package can use authentication by kerberos?

Thanks for your answers!

[2018-10-23 13:11] mre commented on #73
Hey @brunowego,

not out of the box.

What would have to be done is the following:

- [ ] Add the new config options for kerberos to the loader [here](https://github.com/mre/kafka-influxdb/blob/master/kafka_influxdb/config/loader.py#L107).
- [ ] Add the new options to the [default-config](https://github.com/mre/kafka-influxdb/blob/master/kafka_influxdb/config/default_config.py#L9) and make them `N

[2018-10-23 13:14] mre commented on #73
Alternatively, we could change the entire config handling to pass all options to the Kafka libraries directly, but that would be a bigger change.

[2019-01-30 11:02] micpez opened #74 "python3 compatibility of echo_encoder"
Using  "kafka_influxdb.encoder.echo_encoder" with python3 gives the following error:
WARNING:root:Cannot write data points: sequence item 0: expected str instance, bytes found
Decoding msg solves the issue.

[2019-01-31 08:52] mre commented on #74
Sorry about that.
Can you try to remove this line and try again?: https://github.com/mre/kafka-influxdb/blob/master/kafka_influxdb/encoder/echo_encoder.py#L11

[2019-01-31 11:08] micpez commented on #74
Same result. But isn't it just a comment? Or did I get the wrong line?
I think it should be msg.decode().

[2019-01-31 11:38] mre commented on #74
Nope, it was the correct line. Thought it was related to the type hint. My bad.

Yeah that's more like it. Created a PR for that.

[2020-06-16 12:11] bradmallan opened #102 "Activity seems low - is this an active project?"
I like the premise and so do others judging by the forks but activity seems low?

Are there any performance benchmarks done? Even if informal?

[2020-06-16 12:37] mre commented on #102
The project should work as expected, and bug fixes are very welcome but activity on new functionality is quite low, you're right. Maybe we should reflect that in the `README.md`.
I did some [performance benchmarks](https://github.com/mre/kafka-influxdb#performance) back then, which you probably saw already in the docs. Other than that I'm not aware of any benchmarks.

[2020-06-16 12:38] mre commented on #102
If you're setting up a completely new pipeline, check out [vector](vector.dev/), which I'm migrating my stuff to. The community is quite welcoming to additions if things are missing.

[2020-06-16 13:38] bradmallan commented on #102
vector link not working

[2020-06-16 13:45] #102 closed

[2020-06-16 15:45] mre commented on #102
Hehe, sorry.

[2020-06-16 15:54] #74 closed

[2020-06-16 15:58] mre commented on #73
Due to limited time, I won't be able to work on this feature.
Therefore I'm closing this. If anyone wants to tackle it, let me know and we can reopen.
If anyone is looking for a solution, your time might be more wisely spent following [this issue on vector](https://github.com/timberio/vector/issues/1326), which is a superior tool in any regard. 😊

[2020-06-16 15:58] #73 closed

[2020-06-16 15:58] mre commented on #67
Closing this due to inactivity.

[2020-06-16 15:58] #67 closed

[2020-06-16 16:01] mre commented on #48
Hey @danielnelson,
sorry for the radio silence. Due to other projects I won't work on kafka-influxdb anymore. That's why I'm closing this for now. In any case, I'd still be curious for a comparison if someone is up to the task. Probably a comparison with [vector](https://vector.dev) might also be fun.

[2020-06-16 16:01] #48 closed

[2020-06-16 16:03] mre commented on #36
Err.. no, I didn't. Sorry for the radio silence. Due to other projects I won't work on kafka-influxdb anymore. That's why I'm closing this for now. In any case, if someone wants to tackle this, let me know and we can reopen.

[2020-06-16 16:03] #36 closed

[2020-06-16 16:03] #23 closed

[2020-06-16 16:03] #22 closed

[2020-06-16 16:03] #20 closed

[2020-09-24 04:46] dependabot-preview[bot] opened #127 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/mre) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/mre/update-logs/48532783).

[2020-09-28 04:33] #127 closed